/*
    add font for header
*/

.til {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #666666;
    margin-bottom: 20px;

    ul {
        padding-left:15px;
        font-size: 16px;
    }

    &__wrapper {
        max-width: 925px;
        display: block;
        margin: 20px auto;
        
        &--addBorder {
            border: 1px solid #aaaaaa;
        }
    }

    /* Header */
    &__header {
        box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.12)
    }

    &__header-logo-container {
        max-width: 925px;
        display: block;
        margin: 20px auto;
        padding: 20px 0;
    }

    &__header-logo {
        width: 238px;
        height: 80px;
    }
    

    /* Tariff intro */
    &__intro {
        max-width: 75%;
    }

    &__intro-title {
        font-size: 30px;
        margin: 35px 0 15px 0;
        display: block;
        line-height: 1.3;
        font-weight: 400;
        color:#5c881a;
    }

    &__intro-copy {
        font-size: 15px;
        line-height: 1.4;
        color: #666666;
        margin-bottom: 20px;
    }

    &__intro-cta {
        display: inline-block;
        color: #fff;
        text-align: center;
        font-size: 15px;
        text-decoration: none;
        background: #ff5a00;
        color: #fff;
        padding: 10px 20px;
        font-weight: bold;
        margin-bottom: 30px;

        &:visited {
            color: #fff;
        }
    }
    
    &__row {
        display: flex;
        flex-direction: row;

        &:nth-child(even) {
            background: #eaeaea;
        }

        &--removeBg {
            background: #fff !important;
        }
    }

    &__col {
        width: calc(100% / 3 * 1 - 50px);
        padding: 15px 25px;
        border: solid #aaa;
        border-width: 0 1px 1px 0;
        
        p{
            margin: 0;
            font-size: 16px;
        }

        &:first-child {
            border-width: 0 1px 1px 1px;
        }

        &--header {
            background: #5c881a;
            color: #fff;

            &:first-child {
                border-width: 0 1px 1px 0;
            }

            p {
                font-weight: 300;
                font-family: 'DialogRegular', Helvetica, Arial, sans-serif;
            }
        }

        &--full {
            width: 100%;
        }

        &--large {
            width: calc(100% / 3 * 2 - 50px);
        }

        &--half {
            width: 50%;
        }

        &--noBorder {
            border-width: 0 !important;
        }
    }

    &__section {
        background: #aaa;
        padding: 25px;
    }

    &__section-title {
        background: #e3eed9;
        color: #53672a;
        border: solid #aaa;
        border-width: 1px 1px 1px 1px;
        margin: 0;
        padding: 25px 25px 15px 25px;
        font-size: 22px;
        font-weight: 300;
    }

    &__section-copy {
        border: solid #aaa;
        border-width: 0 1px 0 1px; 
        margin: 0;
        padding: 15px 25px;
    }

    &__choose {
        border-top: 4px solid #aac81e;
        background: #e3eed9;
        max-width: 560px;
        padding: 20px;
        margin-top: 20px;
    }

    &__choose-title {
        color: #53672a;
        font-size: 22px;
        font-family: 'DialogRegular';
        font-weight: normal;
        margin: 0 0 10px 0;
    }

    &__faqTitle {
        font-size: 18px;
        font-weight: 300;
    }
}