body {
    margin: 0;
	padding: 0;
	overflow-x: hidden;
}

h1,h2 {
    font-family: 'DialogRegular','Lucida Sans Unicode','Lucida Grande',sans-serif;
}

a {
    color: #5c881a;
    font-weight: 700;
    text-decoration: none;
}

@font-face {
	font-family: 'Dialog';
	src: url('./fonts/LT_59058.eot');
	src: local('?'), url('./fonts/LT_59058.woff') format('woff'), url('./fonts/LT_59058.ttf') format('truetype'), url('./fonts/LT_59058.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DialogRegular';
	src: url('././fonts/LT_59058.eot');
	src: local('?'), url('./fonts/LT_59058.woff') format('woff'), url('./fonts/LT_59058.ttf') format('truetype'), url('./fonts/LT_59058.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'DialogSemiBoldRegular';
	src: url('././fonts/LT_59052.eot');
	src: local('?'), url('./fonts/LT_59052.woff') format('woff'), url('./fonts/LT_59052.ttf') format('truetype'), url('./fonts/LT_59052.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DialogBold';
	src: url('././fonts/LT_59060.eot');
	src: local('?'), url('./fonts/LT_59060.woff') format('woff'), url('./fonts/LT_59060.ttf') format('truetype'), url('./fonts/LT_59060.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DialogLight';
	src: url('././fonts/LT_59050.eot');
	src: local('?'), url('./fonts/LT_59050.woff') format('woff'), url('./fonts/LT_59050.ttf') format('truetype'), url('./fonts/LT_59050.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DialogExtraBold';
	src: url('././fonts/LT_59054.eot');
	src: local('?'), url('./fonts/LT_59054.woff') format('woff'), url('./fonts/LT_59054.ttf') format('truetype'), url('./fonts/LT_59054.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}