.email {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;

    /* layout */

    img {
        max-width: 100%;
    }

    &__body, &__header{
        width: 600px;
        display: block;
        margin: 20px auto;
        
        &--green-banner {
            padding: 15px 0;
            margin: 0 auto;
        }
    }

    &__split {
        width: 100%;
        font-size: 1px;
        line-height: 1px;
        height: 1px;
    }

    /* Header */

    &__online-version{
        text-align: center;
        font-size: 13px;
        color: #666666;
        display: block;
        margin:15px 0 5px 0;
    }

    &__logo {
        width: 202px;
        height: 66px;
        color: #5c881a;
        font-size: 24px;
    }

    /* Body */

    &__account-number {
        font-size: 13px;
        font-family: arial, sans-serif;
        color: #6a6a6a;
        margin: 18px 0;
    }

    &__intro {
        background: #eef3eb;
        
        display:flex;
        flex-direction: row;
        margin-bottom: 25px;
    }

    &__intro-col {
        width: 50%;
    }

    &__intro-title {
        margin:0 0 18px 0;
        padding:20px 0 0 20px;
        font-weight: bold;
        color: #5c881a;
        font-size: 30px;
        line-height: 34px;
    }

    &__intro-subTitle {
        color: #5F6971;
        font-size: 18px;
        line-height: 24px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        padding:0 0 0 20px;
    }

    &__copy {
        margin-top: 0px;
        margin-bottom: 15px;
        font-size: 15px;
        line-height: 22px;
        color: #666666;
        font-family: arial, sans-serif;

        &--thanks {
            margin: 40px 0;
        }

        &--white {
            color: #fff;
        }

        &--remove-margin {
            margin: 0;
        }

        a {
            color: #5c881a;
            font-weight: 700;
        }
    }

    &__extending {
        margin-top: 18px;
        background: #e3eed9;
        width: 600px;
        border: 0;
        border-top: 4px solid #aac81e;
    }

    &__extending-container {
        padding: 25px 30px;
    }

    &__extending-title {
        margin-top: 0px;
        margin-bottom: 12px;
        font-size: 22px;
        line-height: 26px;
        color: #53672a;
        font-family: arial, sans-serif;
        font-weight: normal;
    }

    &__extending-copy {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 15px;
        line-height: 22px;
        color: #53672a;
        font-family: arial, sans-serif;
        margin-bottom: 25px;

        a {
            color: #5c881a;
            font-weight: 700;
        }
    }

    &__extending-cta {
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        color: #FFFFFF;
        text-decoration: none;
        padding: 8px 26px;
        border: 1px solid #ff5a00;
        background: #ff5a00;
        display: inline-block;
        margin-bottom: 20px;
    }

    /* Footer */
    &__footer-banner {
        background: #5C881A;
        border-bottom: 4px solid #9ebd47;
        
        a {
            color: #fff;
        }
    }

    /* uswitch */
    &__uswitch-row {
        display: flex;
        flex-direction: row;
    }

    &__uswitch-col {
        width: 33%;
    }
}